.*
_config.yml
test
test_*
test-*
credential
credentials
*.key
out
docs
deprecated
Procfile
sample_app.js
sample_app.js.map
deploy.sh
material
sample_skill
sample_service
sample_translation
sample_message
sample_parameter
*.rdb
tsconfig.*
/src
